<div>
<a href="/questions/new"><button class="new">Ask a new question</button></a>
</div>

<div>
<% @questions.each do |question| %>
<a href="/questions/<%=question.id%>"><h3><%= question.title %> from <%= question.user.name %></h3></a>
  <h4>Question: <%= question.description %></h4>
  <a href="/questions/<%=question.id%>/answers/new"><button>Submit an answer</button></a>
</div>

<div>
  <% question.answers.each do |answer| %>
    <h2>Answer: <%= answer.answer %></h2>
    <p>User: <%= answer.user.name %></p>
    <% end %>
    <% end %>
</div>
