
<div class="questions">
<a href="/questions/new">Ask a new question</a>
</div>

<div>
<% @questions.each do |question| %>
<a href="/questions/<%=question.id%>"><h2>Question title: <%= question.title %> from <%= question.user.email %></h2></a>
  <h4>Question: <%= question.description %></h4>
  <div class="button">
  <a href="/questions/<%=question.id%>/answers/new">Submit an answer</a>
  </div>
</div>

<div>
  <% question.answers.each do |answer| %>
    <h4>Answer: <%= answer.answer %> from <%= answer.user.email %></h4>
    <% end %>
    <% end %>
</div>
