<h1>Post your answer</h1>

<div>
<h2><%= @question.title %></h2>
<h3><%= @question.description %></h3>
<h5><%= @question.user.name %></h5>
</div>

<%= form_for([@question, @answer]) do |f| %>
<% if @answer.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this question from being saved:</h2>
  <ul>
    <% @answer.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="field">
  <%= f.label :answer %><br>
  <%= f.text_area :answer %>
</div>

<div class="actions">
  <button><% f.submit %>Submit answer</button>
</div>
<% end %>
